# -*-mode:conf-toml-*- vim:ft=toml

# ~/.local/share/chezmoi/.chezmoi.<format>.tmpl
# =============================================================================
# Source: https://www.chezmoi.io/docs/reference/#chezmoiignore

# The file .chezmoi.<format>.tmpl is used when doing a `chezmoi init` to generate
# the file containing template values for this target machine. The configuration file
# is then created at ~/.config/chezmoi/chezmoi.<format>`.

# Formats: Json, Yaml, or TOML

# User Input variables
{{- $name := promptString "Git: Enter your committer name" -}}
{{- $email := promptString "Git: Enter your email address" -}}
{{- $gpg_key := promptString "Git: Enter your current GPG Key ID" -}}


[data.shell]
{{- if ne .chezmoi.username "root" }}
{{- $use_zsh := promptBool "Shell: Do you wish to use zsh instead of bash? (yes/no)" -}}
    zshEnabled = {{ $use_zsh }}
{{- $use_GUI := promptBool "Shell: Do you wish to install apps not limited to terminal? (yes/no)" -}}
    GUIEnabled = {{ $use_GUI }}
{{- else }}
    zshEnabled = false
    GUIEnabled = false
{{- end }}

[data.git]
    name = "{{ $name }}"
    email = "{{ $email }}"
    signingkey = "{{ $gpg_key }}"
