# -*-mode:gitignore-*- vim:ft=gitignore

# The file that I do not want added to the remote repository.

dot_config/zsh/dot_zsh_history
private_dot_bash_history

dot_config/zsh/dot_zcompdump
dot_config/zsh/private_dot_zcompcache/
