# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
	. ~/.bashrc
fi

# User specific environment and startup programs
export GPG_TTY=$(tty)

{{- if eq .chezmoi.osRelease.prettyName "Fedora Linux 35 (Workstation Edition)" }}

# Fedora 35: fix for missing sound devices on login
systemctl --user restart wireplumber
{{- end }}

