[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[user]
    name = {{ .git.username }}
    email = {{ .git.email }}
    signingkey = {{ .git.signingkey }}

[alias]
    co = checkout
    s = status
    cob = checkout -b
    del = branch -D
    br = branch --format='%(HEAD) %(color:magenta)%(refname:short)%(color:reset) - %(contents:subject) %(color:yellow)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    d = diff
    cm = commit -m
    ll = log --oneline
    uncommit = reset --soft HEAD~1
    unstage = reset --soft HEAD^
    last = log -1 HEAD --stat
    cma = !git add -A && git commit
    alias = !git config --get-regexp ^alias. | sort | cat -n
    gl = config --global -l
    cane = commit --amend --no-edit
    a = add .

[core]
    editor = nvim

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[commit]
    gpgsign = true

[init]
    defaultBranch = main
