# -*-mode:conf-toml-*- vim:ft=toml

[data.shell]
    swapGnome = {{ promptBool "Shell: Do you want the favorite terminal emulator to open instead of gnome-terminal? (y/n)" }}

[data.git]
    name = "{{ promptString "Git: Enter your committer name" }}"
    email = "{{ promptString "Git: Enter your email address" }}"
    signingkey = "{{ promptString "Git: Enter your current GPG Key ID" }}"
