# -*-mode:conf-toml-*- vim:ft=toml

[data.shell]
    {{- if ne .chezmoi.username "root" }}
    zshenabled = {{ promptBool "Shell: Do you want the zsh shell? (y/n)" }}
    plshellenabled = {{ promptBool "Shell: Do you want Powerline-shell customization for bash? (y/n)" }}
    guienabled = {{ promptBool "Shell: Do you want apps in a desktop environment? (y/n)" }}

    {{- else }}
    zshenabled = false
    plshellenabled = false
    guienabled = false
    {{- end }}

[data.git]
    {{- if ne .chezmoi.username "root" }}
    name = "{{ promptString "Git: Enter your committer name" }}"
    email = "{{ promptString "Git: Enter your email address" }}"
    signingkey = "{{ promptString "Git: Enter your current GPG Key ID" }}"

    {{- else }}
    name = ""
    email = ""
    signingkey = ""
    {{- end }}
