#!/bin/bash

######################################################
#      _  _ _                   _           _        #
#   __| |(_|_)_ __  _ __   __ _| | _____  _(_) ___   #
#  / _` || | | '_ \| '_ \ / _` | |/ _ \ \/ / |/ _ \  #
# | (_| || | | | | | | | | (_| | |  __/>  <| | (_) | #
#  \__,_|/ |_|_| |_|_| |_|\__,_|_|\___/_/\_\_|\___/  #
#      |__/                                          #
######################################################

# My BASH configuration file for interactive shells.

# Source global definitions
if [ -f /etc/bashrc ]; then
	echo # . /etc/bashrc
fi

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:" ]]
then
    export PATH="$HOME/.local/bin:$PATH"
fi

export EDITOR=nvim
export VISUAL=nvim

export TERM=xterm-256color

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# Welcome Message to the Shell
clear -x

if command -v fastfetch &> /dev/null; then
    fastfetch -c ~/.config/fastfetch/short.jsonc --processing-timeout 5 -l $(grep -r "^ID=" /etc/os-release | sed 's/ID=//')_small
fi

# User specific aliases and functions
if [ -d ~/.bashrc.d ]; then
	for rc in ~/.bashrc.d/*; do
		if [ -f "$rc" ]; then
			. "$rc"
		fi
	done
fi

unset rc

# enable command tab-completion for some programs
complete -cf sudo
complete -cf tldr
complete -cf man

# Use bash-completion, if available
[[ $PS1 && -f /usr/share/bash-completion/bash_completion ]] && \
    . /usr/share/bash-completion/bash_completion

# change directory without cd
shopt -s autocd

# Apply Pywal colorscheme
if [[ -f ~/.cache/wal/sequences ]]; then
    (cat ~/.cache/wal/sequences &)
fi
