#!/usr/bin/sh

# download Nerd fonts
echo "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
echo "Installing Nerd fonts:"
wget "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/NerdFontsSymbolsOnly/complete/Symbols-2048-em%20Nerd%20Font%20Complete.ttf" --directory-prefix ~/.local/share/fonts/
