#!/usr/bin/sh

echo "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
echo "Updating system packages:"
sudo cat >/etc/dnf/dnf.conf <<EOL
[main]
gpgcheck=1
installonly_limit=2
clean_requirements_on_remove=True
best=False
skip_if_unavailable=True
fastestmirror=true
max_parallel_downloads=20
defaultyes=yes
...
EOL
sudo dnf update -y --refresh

echo "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
echo "Installing programs for the shell:"
sudo dnf -y install \
    lsd \
    conda \
    cowsay \
    lolcat \
    fortune-mod \
    figlet \
    neofetch \
    git \
    git-lfs \
    neovim \
    npm \
    pip

echo "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
git-lfs install

echo "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
echo "Installing gitmoji-cli:"
npm i -g gitmoji-cli

echo "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
echo "Installing powerline-shell for bash:"
sudo pip3 install powerline-shell

echo "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
echo "Installing vim-plug for vim/neovim:"
sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs \
       https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'

{{- if (and (ne .chezmoi.username "root") (.shell.zshenabled)) }}
# User not root and ZSH enabled
echo "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
echo "Installing ZSH and setting it as the default shell:"
sudo dnf -y install zsh autojump
sudo usermod -s $(which zsh) $USER
{{- end }}

{{- if (and (ne .chezmoi.username "root") (.shell.guienabled)) }}
# User not root and GUI apps enabled
echo "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
echo "Installing GUI applications:"
sudo dnf -y install \
    kitty \
    terminator \
    ulauncher

echo "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
echo "Installing input-remapper:"
sudo pip install evdev -U
sudo pip install --no-binary :all: git+https://github.com/sezanzeb/input-remapper.git
sudo systemctl enable input-remapper
sudo systemctl restart input-remapper
{{- end }}
