#/usr/bin/zsh

# Script launched at login

{{- if eq .chezmoi.osRelease.prettyName "Fedora Linux 35 (Workstation Edition)" }}

# Fedora 35: fix for missing sound devices on login
systemctl --user restart wireplumber
{{- end }}
